form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px;
}

form input, form button{
    padding: 5px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: rgb(213, 123, 13);
    text-align: center;
    cursor:pointer;
}

#button-config{
    width: 100px;
    background-color: rgb(240, 240, 240);
    padding: 15px;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    color: red;
    top: 20px;
}

#button-config img{
    width: 100%;
    filter: brightness(0) saturate(100%)
          invert(52%) sepia(85%) saturate(2900%)
          hue-rotate(10deg) brightness(100%);
}